* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(61, 60, 58);
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

.graphic{
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  transform: translateY(70px);
}

.wrongLettersContainer {
  color: rgb(240, 240, 240);
  transform: translate(-50px, 150px);
}
#wrongWordArea{
  color: yellow;
  font-size: 20px;
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.wrongWordDiv{
 margin: 0 3px 10px 8px;
}

#wordSection {
  display: flex;
  position: absolute;
  bottom: 150px;
}

h1{
  transform: translateX(-60px);
}

.letter {
  color: #fff;
  display: inline-flex;
  justify-content: center;
  height: 40px;
  width: 25px;
  align-items: center;
  font-size: 20px;
  border-bottom: 3px solid yellow;
  margin: 0 3px;
}

#head,
#body,
#rightArm,
#leftArm,
#rightLeg,
#leftLeg{
  display: none;
} 

#wonPopUp{
  width: 300px;
  height: 200px;
  background-color: #4BB543;
  padding: 15px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#lostPopUp{
  width: 300px;
  height: 200px;
  background-color: #F73B56;
  padding: 15px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
p{
  font-size: 18px;
}
button{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 0;
  background-color: #34495e;
  color: white;
  margin: 15px 80px;  
}
